.outbox {
  position: fixed;
  margin-bottom: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.mainbox {
  position: absolute;
  margin-top: 50px;
  width: 100%;
  overflow: auto;
}

.addbtn {
  position: absolute;
  right: 16px;
  bottom: 64px;
  z-index: 999;
}

.swicher {
  position: sticky;
  height: 50px;
}
.appbar {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: aliceblue;
  z-index: 99;
}
