.BG {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -97;
}
.BG .baseColor {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #9C8FAE;
  z-index: -98;
}
.BG img {
  transform: scale(0.5) translate(-1300px, -1700px);
  animation: bgmove 100s infinite alternate linear;
}
@media screen and (min-width: 700px) {
  .BG img {
    transform: scale(1);
    animation: none;
  }
}
.pc {
  display: none;
}
@media screen and (min-width: 700px) {
  .pc {
    display: block;
    width: 100vw;
    height: 10vh;
    color: red;
    background-color: black;
    z-index: 9;
    font-size: 20px;
    text-align: center;
  }
}
@keyframes bgmove {
  0% {
    transform: scale(0.5) translate(-1300px, -1700px);
    opacity: 1;
  }
  25% {
    transform: scale(0.5) translate(-2500px, -3300px);
    opacity: 0.8;
  }
  50% {
    transform: scale(0.5) translate(-1300px, -3300px);
    opacity: 0.9;
  }
  100% {
    transform: scale(0.5) translate(-2500px, -1700px);
    opacity: 0.8;
  }
}
